#fotoperfil{
    width: 1700px;
    height: 220px;
}
.row{
    padding: 20px;
    
}
div{
    background-color: #ffffff;
    text-align: center;
}
/* estilo foto perfil*/
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 485px;       
    }
}
@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 450px;       
    }
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}