<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/fotoperfil.jpeg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Renzo Quiroga</p>
        <p id="profesion">Full Stack Web Developer Jr</p>
    </div >
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
     <span>
        <h1>Acerca de mi</h1>
          <p>
        Lorem ipsum dolor sit amet 
        consectetur, adipisicing elit. 
        Dignissimos error optio commodi,
        quas iste vel accusamus 
        accusantium inventore assumenda 
        esse autem unde eos at expedita 
        ipsum, provident, reiciendis 
        sapiente tenetur?
          </p>
    </span>
  </div>
</div>