<div class= ¨row¨>
    <div class="conteiner">
        <div class="logo">
            <img src="../../../assets/logo_linkedin/arg_programa.png" id="logo-ap">
        </div>
        <div class="redes">
         <a href=""><img src="../../../assets/logo_linkedin/logo_linkedin.png" id=""></a>
         <a href=""><img src="../../../assets/logo_linkedin/logo_instagram.png" id=""></a>
         <a href=""><img src="../../../assets/logo_linkedin/logo_github.png" id=""></a>
         <a href=""><img src="../../../assets/logo_linkedin/logo_facebook.png" id=""></a>
        <button type="button" class="btn btn-outline-dark">Login</button>
    </div>
</div>