#logo-ap{
    width: 120px;
}
img{
    width: 45px;
    padding-right: 8px ;
    margin-top: 12px;
}
.conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
}
.btn{
    margin-top: 13px;
    margin-right: 0.5em;
    border-width: medium;
    color: black;
    border-color: black;
    text-size-adjust: 3px;
    transition:all .1s ease-in-out;
}
app-social{
    float: center;
    margin-top: 25px;
}
.redes{
    margin-top: -10px;
}